body {
  font-family: Arial, sans-serif;
  margin: 1000;
  padding: 0;
  background-color: #bbbcf1;
}
h1 {
  color: #f7f5f5;
  text-align: left;
  margin-top: 20px;
}
h2 {
  color: #f7f5f5;
  text-align: left;
  margin-top: 20px;
}
h3 {
  color: #f7f5f5;
  text-align: left;
  margin-top: 20px;
}
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border: black 4px solid;
  border-radius: 50%;
}
